.tag {
    margin-right: 1rem;
    background-color: var(--tag-bg);
    border-radius: 1rem;
    color: unset;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    font-size: var(--fs-s);
    padding: 0.25rem 0.5rem;
    padding: clamp(var(--su-1), 0.25em, 0.5em) 0.5em;
    transition: background-color 0.3s ease;
  }
  
  .tag:hover {
    color: var(--link-color);
    text-decoration: none;
  }